# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore all Makefiles
!Makefile
### Above combination will ignore all files without extension ###

# Ignore other files and dirs
.vscode
.DS_Store
DockerTests
.devcontainer
